{% extends 'base.html.twig' %}

{% block title %}Organisateurs{% endblock %}

{% block body %}
    <h1>Créer un organisateur</h1>

    {{ include('organizer/_form.html.twig') }}

    <a href="{{ path('app_organizer_index') }}">retour à la liste</a>
{% endblock %}
